{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12">
    <div class="card m-2">
        <div class="card-body">
            <img src="{{post.image.url}}" class="card-img-top" alt="..." style="width:50%;">
            <h1 class="card-title">{{post.title}}</h1>
            <p class="card-text">{{post.content}}</p>
            <p class="card-text">Quantity : {{post.quantity}}</p>
            <p class="card-text">Price : {{post.price}} $</p>
            <p>
                Brand : {% for cat in post.category.all %}
                <button class="btn btn-outline-warning btn-sm m-2" disabled>
                    {{cat.name}}
                </button>
                {% endfor %}
            </p>
            {% if request.user.is_authenticated %}
            <form action="{% url 'purchase_car' post.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success btn-sm">Buy Now</button>
            </form>
            {% endif %}

        </div>
    </div>
</div>

<div class="card m-2">
    <h5 class="p-3">Total Comments : {{comments | length}}</h5>
    {% for comment in comments %}
  <div class="card-body border m-2">
        <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
        <p>{{comment.body}}</p>
    </div>
    {% endfor %}
</div>
<div class="card m-2">
    <div class="card-body">
        <form method="post">
            <h1>Add Comment</h1>
            {% csrf_token %}
            {{comment_form | crispy}}

            <button class="btn btn-warning">Submit</button>
    </div>
</div>
{% endblock %}